

<!DOCTYPE HTML>
<html>
<head>
<title>Gretong a Ecommerce Admin Panel Category Flat Bootstrap Responsive Web Template | Home :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Gretong Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Bootstrap Core CSS -->
<link href="/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="/css/style1.css" rel='stylesheet' type='text/css' />
<!-- Graph CSS -->
<link href="/css/font-awesome.css" rel="stylesheet"> 
<!-- jQuery -->
<link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css'/>
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<!-- lined-icons -->
<link rel="stylesheet" href="css/icon-font.min.css" type='text/css' />
<script src="js/amcharts.js"></script>	
<script src="js/serial.js"></script>	
<script src="js/light.js"></script>	
<!-- //lined-icons -->
<script src="js/jquery-1.10.2.min.js"></script>
   <!--pie-chart--->
<script src="js/pie-chart.js" type="text/javascript"></script>
 <script type="text/javascript">

     	
</script>
<style>

  .card {
    /* Add shadows to create the "card" effect */
  
      border: 1 px solid black;
  }

/* On mouse-over, add a deeper shadow */
	.card:hover {
	    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	}

	/* Add some padding inside the card container */
	.container {
	    padding: 2px 16px;
	}

	.button {
	    background-color: #4CAF50; /* Green */
	    border: none;
	    color: white;
	    padding: 15px 32px;
	    text-align: center;
	    text-decoration: none;
	    display: inline-block;
	    font-size: 16px;
	    margin: 4px 2px;
	    cursor: pointer;
	}

	.button2 {background-color: #008CBA;
			margin-right:15px;
margin-left:5px;} /* Blue */
	.button3 {background-color: #f44336;} /* Red */ 
	.button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
	.button5 {background-color: #555555;} /* Black */

        

</style>

</head> 
<body>
   <div class="page-container">
   <!--/content-inner-->
	
				<!--//content-inner-->
			<!--/sidebar-menu-->
				<div class="sidebar-menu">
					<header class="logo1">
						<a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> 
					</header>
						<div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
                           					<div class="menu">
									<ul id="menu" >
										<li><a href="/"><i class="fa fa-tachometer"></i> <span>Home</span></a></li>
										<li><a href="/users/reviewRestaurant"><i class="fa fa-tachometer"></i> <span>Review Requests</span></a></li>
										
										<li><a href="/users/viewAllRestaurant"><i class="lnr lnr-pencil"></i> <span>View Restaurant</span></a></li>
								  </ul>
								</div>
						</div>
						<div class="clearfix"></div>		
				</div>
			{{#if flag}}
			<div  id="requestRest" style="margin-left:300px;">
	                        
				{{#each result}}
				<div class="card" style="border:1px solid black; width:90%; background-color:#FAEDB7">
                                       <div class="container">
					    <div class="col-md-12">
							<div class="row">
								<div class="col-md-6">
								  <span style="font-size:30px;">{{this.name}}</span>
								  <span style="color:blue">{{this.city}}</span>
			
								</div>
								<div class="col-md-6">
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="row">
							 <span style="color:blue">Contact Details:  {{this.email}}<span>								
							</div>
						</div>
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-12">
								  <span style="color:red">Description: "  {{this.description}}  " </span>
								 
								</div>
							</div>
						</div>
						<div class="col-md-12">
								<div class = "row">
									<form action="/users/reviewRest" method="post"> 									
		 					    			<p>
										     <input type="hidden" name="email" value="{{this.email}}">
										     <input type="hidden" name="owner" value="{{this.owner}}">
										     <input type="hidden" name="name" value="{{this.name}}">
										     <input type="submit" name="status" value="Accept" class="button2">
										     <input type="submit" name="status" value="Reject" class="button3">	
									</form>
								</div>
						</div>
					
					</div>

				</div>
				{{/each}}

			</div>
			{{else}}
				<div  id="viewRest" style="margin-left:300px;">
	                        
				{{#each result}}
				<div class="card" style="border:1px solid black; width:90%; background-color:#FAEDB7">
                                       <div class="container">
					    <div class="col-md-12">
							<div class="row">
								<div class="col-md-6">
								  <span style="font-size:30px;">{{this.name}}</span>
								  <span style="color:blue">{{this.city}}</span>
			
								</div>
								<div class="col-md-6">
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="row">
							 <span style="color:blue">Contact Details:  {{this.email}}<span>								
							</div>
						</div>
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-12">
								  <span style="color:red">Description: "  {{this.description}}  " </span>
								 
								</div>
							</div>
						</div>
						<div class="col-md-12">
								<div class = "row">
									<form action="/users/deleteRest" method="post"> 									
		 					    			<p>
										     <input type="hidden" name="email" value="{{this.email}}">
										     <input type="hidden" name="owner" value="{{this.owner}}">
										     <input type="hidden" name="name" value="{{this.name}}">
										     <input type="submit" value="Delete" class="button3">	
									</form>
								</div>
						</div>
					
					</div>

				</div>
				{{/each}}

			</div>

			{{/if}}

			<script>
							var toggle = true;
										
							$(".sidebar-icon").click(function() {                
							  if (toggle)
							  {
								$(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
								$("#menu span").css({"position":"absolute"});
							  }
							  else
							  {
								$(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
								setTimeout(function() {
								  $("#menu span").css({"position":"relative"});
								}, 400);
							  }
											
											toggle = !toggle;
										});
			</script>
<!--js -->
<script src="js/jquery.nicescroll.js"></script>
<script src="js/scripts.js"></script>
<!-- Bootstrap Core JavaScript -->
   <script src="js/bootstrap.min.js"></script>
   <!-- /Bootstrap Core JavaScript -->
   <!-- real-time -->
<script language="javascript" type="text/javascript" src="js/jquery.flot.js"></script>
	<script type="text/javascript">

		function showRequest() {
			    document.getElementById('requestRest').style.display = "inline-block";
			//document.getElementById('viewRestaurant').style.display = "none";
			//document.getElementById('updateProfile').style.display = "none";		
		}

	</script>
<!-- /real-time -->
<script src="js/jquery.fn.gantt.js"></script>
   
		   <script src="js/menu_jquery.js"></script>
</body>
</html>
